name: Build APK
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'
          
      - name: Install Flet
        run: pip install flet
      
      # Step to accept Android Licenses automatically
      - name: Accept Android Licenses
        run: yes | sdkmanager --licenses || true

      - name: Build APK
        # Yahan humne bataya ke file ka naam index.py hai
        run: yes | flet build apk index.py
        
      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: my-app-apk
          path: build/apk/*.apk
