name: Build APK
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'
          
      - name: Install Flet
        run: pip install flet
      
      # Professional way to accept Android licenses
      - name: Accept Android Licenses
        run: |
          yes | sdkmanager --licenses || true
          touch /home/runner/.android/repositories.cfg

      - name: Build APK
        # Ab hum ne file ka naam main.py kar diya hai
        run: yes | flet build apk main.py
        
      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: my-app-apk
          path: build/apk/*.apk
