name: Build APK
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - name: Install Flet and Build Tools
        run: |
          pip install flet
          # GitHub ke server par hi APK banane ki command
      - name: Build APK
        run: flet build apk
      - name: Upload APK
        uses: actions/upload-artifact@v3
        with:
          name: my-app-apk
          path: build/apk/*.apk
